
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Check Out</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>
<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'homepage' %}">
							<img src="{% static 'assets\img\png-transparent-pizza-delivery-fast-food-restaurant-pizza-delivery-pizza-food-logo-car-fotor-bg-remover-20230616164041.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'homepage' %}">Home</a>
<!--									<ul class="sub-menu">-->
<!--										<li><a href="index.html">Static Home</a></li>-->
<!--										<li><a href="index_2.html">Slider Home</a></li>-->
<!--									</ul>-->
								</li>
								<li><a href="{% url 'aboutpage' %}">About</a></li>
<!--								<li><a href="#">Pages</a>-->
<!--									<ul class="sub-menu">-->
<!--										<li><a href="404.html">404 page</a></li>-->
<!--										<li><a href="about.html">About</a></li>-->
<!--										<li><a href="cart.html">Cart</a></li>-->
<!--										<li><a href="checkout.html">Check Out</a></li>-->
<!--										<li><a href="contact.html">Contact</a></li>-->
<!--										<li><a href="news.html">News</a></li>-->
<!--										<li><a href="shop.html">Shop</a></li>-->
<!--									</ul>-->
<!--								</li>-->
<!--								<li><a href="news.html">News</a>-->
<!--									<ul class="sub-menu">-->
<!--										<li><a href="news.html">News</a></li>-->
<!--										<li><a href="single-news.html">Single News</a></li>-->
<!--									</ul>-->
<!--								</li>-->
								<li><a href="{% url 'contactpage' %}">Contact</a></li>
								<li><a href="">Shop</a>
									<ul class="sub-menu">
										<li><a href="">Shop</a></li>
										<li><a href="{% url 'checkpage' %}">Check Out</a></li>
<!--										<li><a href="">Single Product</a></li>-->
										<li><a href="{% url 'cartpage' %}l">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'cartpage' %}"><i class="fas fa-shopping-cart"></i></a>

									</div>
								</li>
									{% if request.session.username %}
									<li class="current-list-item"><a href="{% url 'userpage' %}">{{request.session.username}}</a>

									<ul class="sub-menu">
										<li><a href="{% url 'userlogout' %}">Log Out</a></li>
										{% else %}
										<li class="current-list-item"><a href="{% url 'userpage' %}">login</a>

									</ul>

									</li>
								{% endif %}
							</ul>
						</nav>
<!--						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
<!--						<div class="mobile-menu"></div>-->
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Billing Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form method="post" action="{% url 'savecheckout' %}">
										{% csrf_token%}
						        		<p><input type="text" placeholder="Name" name="Name"></p>
						        		<p><input type="email" placeholder="Email" name="Email"></p>
						        		<p><input type="text" placeholder="Address" name="Address"></p>
						        		<p><input type="text" placeholder="Phone" name="Phone"></p>
										<p><input type="text" placeholder="City" name="city"></p>
										<p><input type="text" placeholder="PIncode" name="pincode"></p>
										<a href="{% url 'homepage' %}"><input type="submit" value="CAsh on Delivery" class="boxed-btn" onclick="alert('ordered suceessfully')"></a>
										<a href="{% url 'gateway' %}"  class="boxed-btn" value="">Online Pay</a>
									</form>
						        </div>

						      </div>
						    </div>
						  </div>

<!--						  <div class="card single-accordion">-->
<!--						    <div class="card-header" id="headingTwo">-->
<!--						      <h5 class="mb-0">-->
<!--						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--						          Shipping Address-->
<!--						        </button>-->
<!--						      </h5>-->
<!--						    </div>-->
<!--						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
<!--						      <div class="card-body">-->
<!--						        <div class="shipping-address-form">-->
<!--						        	<p>Your shipping address form is here.</p>-->
<!--						        </div>-->
<!--						      </div>-->
<!--						    </div>-->
<!--						  </div>-->
<!--						  <div class="card single-accordion">-->
<!--						    <div class="card-header" id="headingThree">-->
<!--						      <h5 class="mb-0">-->
<!--						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--						          Card Details-->
<!--						        </button>-->
<!--						      </h5>-->
<!--						    </div>-->
<!--						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--						      <div class="card-body">-->
<!--						        <div class="card-details">-->
<!--						        	<p>Your card details goes here.</p>-->
<!--						        </div>-->
<!--						      </div>-->
<!--						    </div>-->
<!--						  </div>-->
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>
								{% for i in cart %}
								<tr>

									<td>{{i.productname}}</td>
									<td>${{i.price}}</td>

								</tr>
								{% endfor %}

							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>${{grandtotal}}</td>
								</tr>
								<tr>
									<td>Delivery Charge</td>
									<td>$20</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>${{grandtotal|add:20}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>The gift that always delivers
Give the gift of delivery with a DoorDash gift card. The DoorDash app connects your favorite people with the best of their neighborhood, including restaurants, convenience stores, grocery stores, pet supplies and more.

							Buy a Gift Card</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, kakkanad,Kochi</li>
							<li>support@eatmore.com</li>
							<li>+91 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'homepage' %}">Home</a></li>
							<li><a href="{% url 'aboutpage' %}">About</a></li>


							<li><a href="{% url 'contactpage' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.' %}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>