<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add category</h4>
                    <p class="card-description"></p>
                    <form class="forms-sample" method="post" action="{% url 'savedata' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputUsername1">Category name</label>
                        <input type="text" name="cname" class="form-control" id="exampleInputUsername1" placeholder="Category name">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <div class="form-group">
                        <label for="exampleTextarea1">Textarea</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="description" placeholder="description"></textarea>
                      </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Image</label>
                        <input type="file" class="form-control" name="image" id="exampleInputPassword1">
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputConfirmPassword1">Confirm Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">-->
<!--                      </div>-->
                      <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i></label>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2" onclick="myfunction()">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

<<script>
  function myfunction(){
  alert("Category added successfuly..!")
  }
</script> -->

</body>
</html>
{% endblock %}